.okay
    .container
        .okay__wrap
            .okay__logo
                img(src="assets/i/workshop/okay/okay-logo.png", alt="")
            .okay__text
                p L'officina Barani Gomme aderisce al network #[b Officina a posto - I professionisti dell'auto]. 
                p Usiamo esclusivamente ricambi auto Rhiag di Qualità Originale: In questo modo #[b la garanzia del costruttore rimane valida se effettui il tagliando presso la nostra officina]. 