section.safety
    .container
        .safety__body
            .safety__column
                .safety__item
                    h3.safety__title Sicurezza
                    .safety__text
                        p Abbiamo a cuore innanzitutto la tua sicurezza!
                        p Nei corso di ogni intervento, i nostri meccanici verificano sempre tutte le componenti di sicurezza attraverso un check-up auto composto da ben 10 controlli: in questo modo riusciamo a valutare attentamente lo stato di salute e sicurezza della tua auto.
            .safety__column
                .safety__item
                    h3.safety__title Professionalità e competenza
                    .safety__text
                        p I nostri meccanici e carrozzieri sono professionisti attrezzati per operare su tutti i modelli di auto, sia nuova che usata: freni, frizione, ammortizzatori, climatizzatore, batteria, elettronica, carrozzeria… 
                        p Siamo dotati di strumenti di diagnosi elettronica avanzati e seguiamo un programma continuo di formazione certificazioni, necessari per intervenire sulle automobili di ultima generazione.
            .safety__column
                .safety__item
                    h3.safety__title Manutenzione auto nuove
                    .safety__text
                        p Se hai un’auto nuova puoi affidarti alla nostra officina per i tagliandi di manutenzione programmata nel periodo di garanzia. 
                        p La legge Monti consente di scegliere l’officina presso la quale effettuare la manutenzione periodica senza che decada la garanzia del Costruttore. La nostra officina installa ricambi Rhiag di Qualità Originale o equivalente, rispettando i piani ufficiali delle Case Auto per la manutenzione delle vetture. 
            .safety__column
                .safety__item
                    h3.safety__title Convenienza e trasparenza
                    .safety__text
                        p La nostra officina è attrezzata per offrirti interventi di tagliando, riparazione meccanica e manutenzione della tua auto a prezzi molto convenienti, ponendo attenzione alla stagionalità per assicurare la massima efficienza della tua auto in qualsiasi periodo dell’anno. 
