section.workshop-intro
    .container
        .workshop-intro__img
            img(src="assets/i/workshop/workshop-intro/workshop-intro-bg.jpg", alt="")
            h1.workshop-intro__title L'officina di Barani Gomme: tagliandi, diagnosi e riparazioni 