section.workshop-flex
    .container
        .workshop-flex__items
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-1
                .workshop-flex__label Tagliandi e manutenzione 
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-2
                .workshop-flex__label Freni: pastiglie, dischi, elettrnica  
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-3
                .workshop-flex__label Ricarica clima  
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-4
                .workshop-flex__label Bateria auto  
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-5
                .workshop-flex__label Check-up auto  
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-6
                .workshop-flex__label Ammortizzatori 
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-7
                .workshop-flex__label Diagnosi elettronica  
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-8
                .workshop-flex__label Luci e tergicristalli  
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-9
                .workshop-flex__label Frizione auto  
            .workshop-flex__item
                .workshop-flex__img
                    include ../icons/workshop-10
                .workshop-flex__label Distribuzione auto  
            