section.about-intro
    .container
        .about-intro__img
            img(src="assets/i/about/about-bg.jpg", alt="")
            .about-intro__body
                h1.about-intro__title Compagnie di noleggio convenzionato
                .about-intro__text Se hai noleggiato un'atuo con queste compagnie di noleggio puoi venire da noi per cambiare le tue gomme