section.block-about
    .container
        .block-about__wrap
            .block-about__content
                .block-about__logo
                    include ../icons/about-logo
                .block-about__text
                    p Barani gomme nasce nel 1973 ad opera di Rino, appassionato motociclista che ha gareggiato in competizioni di velocità a livello nazionale. 
                    p Rino ha poi trasmesso la passione al figlio Andrea che oggi guida l'azienda di famiglia. 
                    p Nei quasi 50 anni di attività Barani gomme si è evoluta e specializzata, diventando un punto di riferimento per la vendita ed installazione di pneumatici di qualità per auto, moto e camion. 
                    p Il nostro staff di ragazzi giovani e dinamici segue costantemente corsi di aggiornamento sia sulla meccanica che sugli pneumatici. Le nostre attrezzature sono all'avanguardia e rinnovate frequentemente. 
                    p Barani gomme effettua anche Racing Service per prestigiose compagnie (Dunlop, Continental) in gare nazionali ed internazionali. Questo ci permette di essere sempre all'avanguardia e fornire ai nostri clienti il meglio del mercato e della tecnologia. 
                    p Assieme alla passione ed alla cura dei dettagli, tutto questo ci permette di fornire un servizio di primissima qualità. 
            .block-about__img
                img(src="assets/i/about/block-about/block-about-img.jpg", alt="")