section.company-content 
    .container
        .company-content__body 
            ul.company-content__list
                li *GE FLO S.r.l. 
                li A.MENAR1NI MANUFACTURING LOGISTICS AND ARVAL 
                li A.MENARINI DIAGNOSTICS SRL 
                li A.MENARINI FARMACEUTICA 
                li A.MENARINI INDUSTRIE FARMACEUTICHE 
                li ALD AUTOMOTIVE ITALIA 
                li ATHLON CAR LEA SE ITALY 
                li CGT 
                li CODIR SRL CONSORZIO STABILE PER LA 
                li CPL CONCORDIA 
                li CPL DISTRIBUZIONE 
                li ENERCON GMBH SUCCURSALE ITALIA EUROP ASSISTANCE VAI FONTENERGIA 
                li ENERCON SERVICE ITALIA SRL 
                li FJ.R.MJL SPA 
                li GENERAL LEASING 
                li ISTITUTO LUSO FARMACO D ITALIA 
                li LABORATORI GUIDOTT1 SPA 
                li LEASYS 
                li LEASYS RENT SPA 
                li LOCAUTO 
                li LODICHEM SRL 
                li LOGLI MASSIMO SPA 
                li LUSOCHIMICA SPA 
                li MALESCI IST FARMACOBIOLOGICO SPA 
                li MARJGL1ANO GAS 
                li MENARINI BIOTECH SRL 
                li MENARINI NEWTECH SRL 
                li MENARINI RICERCHE SPA 
                li MENARINI SIUCON BIOSYSTEMS SPA 
                li MERCEDES BENZ CHARTERWAY 
                li MERCURY 
                li PRODECO PHARMA srl 
                li RENT2GO 
                li RESEARCH TOXICOLOGY CENTRE SPA 
                li REUFE ITALIA SRL 
                li REUFE SRL 
                li RILOCA 
                li SAINT GOBAIN ABRASIVI SPA 
                li SAINT GOBAIN AUTOVER ITALIA SRL 
                li SAINT GOBAIN ITALIA SPA 
                li SAINT GOBAIN SEKURIT ITALIA SRL 
                li SICURGLASS SUD SRL SV SRL 
                li SAINT GOBAIN GLASS ITALIA SPA 
                li SAINT GOBAIN OMNISEAL SOLUTIONS ITALIA 
                li SAINT GOBAIN PERFORMANCE PLAST1 
                li SEPR ITALIA SPA 
                li SIFA 
                li UNIPOL RENTAL 
                li VAXYNETHIC SRL VOLKSWAGEN LEASING 
                li VODAFONE AUTOMOTIVE (EX COBRA ITALIA) 
