section.company-intro
    .container
        .company-intro__img
            img(src="assets/i/company/company-bg.jpg", alt="")
            .company-intro__body
                h1.company-intro__title Compagnie di noleggio convenzionato
                .company-intro__text Se hai noleggiato un'atuo con queste compagnie di noleggio puoi venire da noi per cambiare le tue gomme