.footer-contacts
    .footer-contacts__wrap
        .footer-contacts__copyright
            p Copyright 2020. BARANI RINO & C. - S.N.C. NUOVA SPECIALGOMMA
            span Partita Iva: 00154830350.  #[b Privacy and Cookie policy].
        .footer-contacts__text
            span Barani Gomme ha scelto  Altuofianco
        include ../blocks/icons/logo-footer