header.main-header
  .container
    .main-header__wrap
      a.main-header__logo(href='/')
        include ../blocks/icons/logo-header
      ul.main-header__menu
        li
          a(href='/') Home
        li
          a(href='/services.html') Servizi
        li
          a(href='#') Le nostre marche
        li
          a(href='#') Chi siamo
        li
          a(href='#') Compagnie di noleggio
        li
          a(href='#') Racing Service
        li
          a(href='#') Officina 
        li
          a(href='#') Contatti
