footer.main-footer
    .container
        .main-footer__wrap
            .main-footer__form
                h2.main-footer__title.title Scrivici
                include form
            .main-footer__contacts
                h2.main-footer__title.title Contatti
                ul 
                    li Barani Gomme
                    li Via E. Mattioli, 11 - 42011 Bagnolo in Piano (RE)
                ul 
                    li 
                        span Telefono: 
                        a(href="tel:390522951421" target="_blank") +39 (0)522 951421
                    li 
                        span Email: 
                        a(href="mailto:info@baranigomme.it" target="_blank") info@baranigomme.it
                include footer-contacts