header.main-header
  .container
    .main-header__wrap
      a.main-header__logo(href='/')
        include ../blocks/icons/logo-header
      ul.main-header__menu
        li
          a(href='/') Home
        li
          a(href='/services.html') Servizi
        li
          a(href='/brands.html') Le nostre marche
        li
          a(href='/about.html') Chi siamo
        li
          a(href='/company.html') Compagnie di noleggio
        li
          a(href='/racing-service.html') Racing Service
        li
          a(href='/workshop.html') Officina 
        li
          a(href='/contacts.html') Contatti
