extends template

block css
	link(rel="stylesheet" type="text/css" href="assets/libs/leaflet/leaflet.css")
	link(rel="stylesheet" type="text/css" href="assets/css/my.css")

block title
	title Barani Gomme

block content
	include ../globals/main-header
	include ../blocks/racing-service/racing-service-intro
	//- include ../blocks/racing-service/racing-action
	//- include ../blocks/racing-service/gallery

	include ../globals/main-footer
	include ../globals/footer-bottom

block scripts
	script(src="assets/libs/code.jquery.com_jquery-3.7.0.min.js")
	script(src="assets/libs/slick.min.js")
	script(src="assets/libs/leaflet/leaflet.js")
	script(src="assets/js/dist/webpack.js")
	script(src="assets/jquery/custom-jquery.js")
