section.agreements
    .container
        .agreements__wrap
            .agreements__content
                .agreements__block
                    h2.agreements__title.title Convenzioni
                    .agreements__text Siamo convenzionati con le principali compagnie di noleggio auto per offrirti un servizio al top con prezzi vantaggiosi. Alcune delle compagnie con cui siamo convenzionati sono: 
                    a(href="#").btn Scopri tutte le convenzioni
                .agreements__logos
                    .agreements__logo
                        img(src="assets/i/home/agreements/agreements-logo-1.jpg", alt="")
                    .agreements__logo
                        img(src="assets/i/home/agreements/agreements-logo-2.jpg", alt="")
                    .agreements__logo
                        img(src="assets/i/home/agreements/agreements-logo-3.jpg", alt="")
                    .agreements__logo
                        img(src="assets/i/home/agreements/agreements-logo-4.jpg", alt="")
            .agreements__images
                .agreements__image
                    include ../icons/agreements-img-1
                    h3.agreements__label Qualità 
                .agreements__image
                    include ../icons/agreements-img-2
                    h3.agreements__label Tecnologia 
                .agreements__image
                    include ../icons/agreements-img-3
                    h3.agreements__label Assistenza 
                .agreements__image
                    include ../icons/agreements-img-4
                    h3.agreements__label Innovazione  