section.features 
    .container
        .features__wrap
            .features__item
                .features__img
                    img(src="assets/i/home/features/features-1.jpg", alt="")
                .features__content
                    h2.features__title.title Pneumatici delle migliori marche
                    .features__text
                        p Per la tua moto, auto o camion utilizziamo pneumatici delle migliori marche con altre prestazioni. 
                        p Effettuiamo sempre una lavaggio completo di cerchio e ruota e utilizziamo attrezzature all'avanzguardia per garantirti sempre la migliore resa dalle tue gomme.
                    a(href="#").btn Scopri le nostre marche
            .features__item
                .features__img
                    img(src="assets/i/home/features/features-2.jpg", alt="")
                .features__content
                    h2.features__title.title Servizi
                    .features__lists
                        ul 
                            li Vendita ed installazione pneumatici
                            li Equilibratura
                        ul 
                            li Gonfiaggio pneumatici con azoto
                            li Assetti
                            li Convergenza
                        ul 
                            li Auto sostitutiva
                            li Vendita e installazione accessori auto e moto
