section.home-intro
    .container
        .home-intro__img
            img(src="assets/i/home/home-intro/home-intro-bg.jpg", alt="")
            .home-intro__wrap
                h1.home-intro__title Da 50 anni passione per l'eccellenza  
                h3.home-intro__subtitle Barani gomme 