section.home-banner
    .container
        .home-banner__img 
            img(src="assets/i/home/home-banner/home-banner-bg.jpg", alt="")
            .home-banner__content
                h2.home-banner__title.title Officina
                .home-banner__text Barani Gomme offre anche il servizio di officina per tagliandi, ricariche clima, riparazioni 
                a(href="#").btn.btn--dark Scopri tutti i servizi