section.racing
    .container
        .racing__wrap
            .racing__item
                .racing__img
                    img.racing__picture(src="assets/i/home/racing/racing-1.jpg", alt="")
                    .racing__logos 
                        .racing__logo
                            img(src="assets/i/home/racing/racing-logo-1.png", alt="")
                        .racing__logo
                            img(src="assets/i/home/racing/racing-logo-2.jpg", alt="")
                        .racing__logo
                            img(src="assets/i/home/racing/racing-logo-3.jpg", alt="")
                        .racing__logo
                            img(src="assets/i/home/racing/racing-logo-4.jpg", alt="")
                .racing__content
                    h2.racing__title.title Racing service
                    .racing__text 
                        p Grazie alla sua esperienza e competenza, Barrani Gomme è stato scelto dalle migliori marche per l'assistenza sui campi di gara motociclistici. 
                    a(href="#").btn Scopri di più
            .racing__item
                .racing__img
                    img.racing__picture(src="assets/i/home/racing/racing-2.jpg", alt="")
                .racing__content
                    h2.racing__title.title Chi siamo
                    .racing__text
                        p Fondata nel 1973, Barani Gomme è un punto di riferimento per la vendita ed installazione di pneumatici di qualità.
                        p Le attrezzature sempre al top, la professionalità dei nostri meccanici e la nostra passione ci hanno portato ad essere scelti dalle migliori marche per l'assistenza gommistica durante numerose gare motociclistiche.
                        p Da Barani Gomme troverai chi sa consigliarti sulla migliore scelta per il tuo mezzo!
