section.gallery
    .container
        h2.gallery__title.title Galleria
        .gallery__slider
            .gallery__img 
                img(src="assets/i/racing-service/gallery/gallery-1.jpg", alt="")
            .gallery__img 
                img(src="assets/i/racing-service/gallery/gallery-2.jpg", alt="")
            .gallery__img 
                img(src="assets/i/racing-service/gallery/gallery-3.jpg", alt="")
            .gallery__img 
                img(src="assets/i/racing-service/gallery/gallery-4.jpg", alt="")
            .gallery__img 
                img(src="assets/i/racing-service/gallery/gallery-5.jpg", alt="")