section.racing-action
    .container
        .racing-action__wrap
            .racing-action__column
                .racing-action__text
                    p #[b La passione per le competizioni] ha contraddistinto Barani Gomme fine dalla sua nascita nel 1973. 
                    p Nel tempo, siamo passati dal partecipare alle gare (Rino in posta con le moto da velocità e Andrea sulle 4 ruote Kart in gare nazionali e internazionali) alla specializzazione nel #[b Racing Service]. 
                    p.first Abbiamo iniziato facendo #[b assistenza alle] prove libere moto e poi siamo cresciuti allestendo due mezzi attrezzati per andare sui campi gara: abbiamo seguito i #[b più importanti marchi di pneumatici come Pirelli e Metzeler in manifestazioni nazionali] come Campionato Italiano Velocità, Coppa Italia, Trofeo amatori e Giornate istituzionali. 
                .racing-action__img.one
                    img(src="assets/i/racing-service/racing-action/action-1.jpg" alt="")
                .racing-action__img.two
                    img(src="assets/i/racing-service/racing-action/action-2.jpg" alt="")
            .racing-action__column
                .racing-action__video
                    include video
                .racing-action__text
                    p Per Dunlop Barani gomme ha fatto il Racing Service per l'Off Road seguendo il #[b motocross nei campionati italiani] sia giovanili che di massimo livello come Elite e Prestige. 
                    p.second Sempre per Dunlop, Brani Dunlop ha seguito il #[b campionato mondiale motocross] nelle tappe italiane servendo team di livello mondiale come Honda, Hrc e Kawasaki Krt e piloti come Gautier, Paulin, Maximilian Nagl, Ryan Villopoto, Eugeny Bobriscev, e altri ancora.                
                    include ../icons/action-logo
                    p Sempre per Dunlop, Barani Gomme è stato presente a manifestazioni di prove libere auto in pista, servendo anche il #[b team ufficiale BMV Marc VDS Racing con la Z4 GT3]. 
                    p Seguiamo inoltre la #[b Transitalia Maraton] oltre  da 3 anni per #[b Continental]: il servizio Racing di Barani Gomme è in costante evoluzione e ci permette di accrescere il know how e l'esperienza per poter fornire servizi di eccellenza a tutti i nostri clienti. 