section.racing-service-intro
    .container
        .racing-service-intro__img
            img(src="assets/i/racing-service/racing-service-intro/racing-intro-bg.jpg", alt="")
            .racing-service-intro__title Barani gomme è stato scelto dalle migliori marche per l'assistenza nelle gare di motocross, moto su strada e auto 