.workshop-flex {
    padding: 2.7rem 0;

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 2.6rem;
        margin: 0 -1.3rem;
        @media screen and (max-width: 576px) {
            display: block;
        }

    }

    &__item {
        flex: 0 0 calc(20% - 2.6rem);
        margin: 0 1.3rem;
        padding-top: 8rem;
        min-height: 33.6rem;
        text-align: center;
        background: #333;
        @media screen and (max-width: 1200px) {
            flex: 0 0 calc(25% - 2.6rem);
        }
        @media screen and (max-width: 992px) {
            flex: 0 0 calc(33.333% - 2.6rem);
        }
        @media screen and (max-width: 768px) {
            flex: 0 0 calc(50% - 2.6rem);
        }
        @media screen and (max-width: 576px) {
            margin-bottom: 2.6rem;
        }
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3.5rem;
        height: 10.8rem;
    }

    &__label {
        display: inline-block;
        max-width: 60%;
        font-family: var(--font-2);
        font-size: 1.8rem;
        font-weight: 700;
        line-height: normal;
        color: #FFF;
        letter-spacing: 0.09rem;
        text-transform: uppercase;

    }
}