section.brands-intro
    .container
        .brands-intro__block
            h1.brands-intro__title Le nostre marche
            h3.brands-intro__subtitle Scelte e selezionate per offrirti le migliori prestazioni 