section.cars
    .container
        h2.cars__title.title Automobili
        .cars__wrap
            .cars__body
                h3.cars__subtitle Gomme
                .cars__items
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-1.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-2.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-3.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-4.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-5.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-6.jpg", alt="")
            .cars__body
                h3.cars__subtitle Cerchi
                .cars__items
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-7.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-8.jpg", alt="")
        .cars__wrap
            .cars__body
                h3.cars__subtitle Sospensioni
                .cars__items
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-9.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-10.jpg", alt="")
            .cars__body
                h3.cars__subtitle Molle
                .cars__items
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-11.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-12.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-13.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-14.jpg", alt="")
        .cars__wrap
            .cars__body
                h3.cars__subtitle Freni
                .cars__items
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-15.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-16.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-17.jpg", alt="")
            .cars__body
                h3.cars__subtitle Catene
                .cars__items
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-18.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-19.jpg", alt="")
        .cars__wrap
            .cars__body
                h3.cars__subtitle Accessori 
                .cars__items
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-14.jpg", alt="")
                    .cars__item
                        img(src="assets/i/brands/cars/cars-logo-19.jpg", alt="")