section.moto
    .container
        h2.moto__title.title Moto
        .moto__wrap
            .moto__body
                h3.moto__subtitle Gomme
                .moto__items
                    .moto__item
                        img(src="assets/i/brands/moto/moto-logo-1.jpg", alt="")
                    .moto__item
                        img(src="assets/i/brands/moto/moto-logo-2.jpg", alt="")
                    .moto__item
                        img(src="assets/i/brands/moto/moto-logo-3.jpg", alt="")
                    .moto__item
                        img(src="assets/i/brands/moto/moto-logo-4.jpg", alt="")
                    .moto__item
                        img(src="assets/i/brands/moto/moto-logo-5.jpg", alt="")
                    .moto__item
                        img(src="assets/i/brands/moto/moto-logo-6.jpg", alt="")
                    .moto__item
                        img(src="assets/i/brands/moto/moto-logo-7.jpg", alt="")
            .moto__body
                h3.moto__subtitle Accessori
                .moto__items
                    .moto__item
                        img(src="assets/i/brands/moto/moto-logo-8.jpg", alt="")