section.tir
    .container
        h2.tir__title.title tir
        .tir__wrap
            .tir__body
                h3.tir__subtitle Gomme
                .tir__items
                    .tir__item
                        img(src="assets/i/brands/tir/tir-logo-1.jpg", alt="")
                    .tir__item
                        img(src="assets/i/brands/tir/tir-logo-2.jpg", alt="")
                    .tir__item
                        img(src="assets/i/brands/tir/tir-logo-3.jpg", alt="")
            .tir__body
                h3.tir__subtitle Accessori
                .tir__items
                    .tir__item
                        img(src="assets/i/brands/tir/tir-logo-4.jpg", alt="")
                    .tir__item
                        img(src="assets/i/brands/tir/tir-logo-5.jpg", alt="")
        .tir__wrap
            .tir__body
                h3.tir__subtitle Cerchi
                .tir__items
                    .tir__item
                        img(src="assets/i/brands/tir/tir-logo-6.jpg", alt="")