<svg xmlns="http://www.w3.org/2000/svg" width="221" height="69" viewBox="0 0 221 69" fill="none">
  <g opacity="0.5">
    <path d="M34.3348 22.8384H11.8398L17.628 0.343506H40.1229L34.3348 22.8384Z" fill="black"/>
    <path d="M51.3044 45.8586H28.8096L34.7293 23.3636H57.2242L51.3044 45.8586Z" fill="black"/>
    <path d="M96.3484 45.8586H73.8535L79.7732 23.3636H102.268L96.3484 45.8586Z" fill="black"/>
    <path d="M141.063 45.8586H118.568L124.488 23.3636H146.983L141.063 45.8586Z" fill="black"/>
    <path d="M186.31 45.8586H163.815L169.735 23.3636H192.23L186.31 45.8586Z" fill="black"/>
    <path d="M22.495 68.3543H0L5.91971 45.8594H28.4147L22.495 68.3543Z" fill="black"/>
    <path d="M68.0105 68.3543H45.5156L51.3037 45.8594H73.7987L68.0105 68.3543Z" fill="black"/>
    <path d="M113.057 68.3543H90.5625L96.3506 45.8594H118.846L113.057 68.3543Z" fill="black"/>
    <path d="M157.77 68.3543H135.275L141.064 45.8594H163.558L157.77 68.3543Z" fill="black"/>
    <path d="M203.018 68.3543H180.523L186.312 45.8594H208.807L203.018 68.3543Z" fill="black"/>
    <path d="M79.8503 22.8384H57.3555L63.1436 0.343506H85.6385L79.8503 22.8384Z" fill="black"/>
    <path d="M124.896 22.8384H102.401L108.189 0.343506H130.684L124.896 22.8384Z" fill="black"/>
    <path d="M169.61 22.8384H147.115L152.903 0.343506H175.398L169.61 22.8384Z" fill="black"/>
    <path d="M214.857 22.8384H192.362L198.15 0.343506H220.645L214.857 22.8384Z" fill="black"/>
    <path d="M28.8855 45.8586H6.39062L12.3103 23.3636H34.8052L28.8855 45.8586Z" fill="white"/>
    <path d="M73.6023 45.8586H51.1074L57.0271 23.3636H79.522L73.6023 45.8586Z" fill="white"/>
    <path d="M118.644 45.8586H96.1494L102.069 23.3636H124.564L118.644 45.8586Z" fill="white"/>
    <path d="M163.359 45.8586H140.864L146.784 23.3636H169.279L163.359 45.8586Z" fill="white"/>
    <path d="M208.609 45.8586H186.114L192.034 23.3636H214.529L208.609 45.8586Z" fill="white"/>
    <path d="M45.5925 68.3543H23.0977L28.8858 45.8594H51.3807L45.5925 68.3543Z" fill="white"/>
    <path d="M90.6365 68.3543H68.1416L73.9297 45.8594H96.4247L90.6365 68.3543Z" fill="white"/>
    <path d="M135.353 68.3543H112.858L118.647 45.8594H141.141L135.353 68.3543Z" fill="white"/>
    <path d="M180.599 68.3543H158.104L163.893 45.8594H186.388L180.599 68.3543Z" fill="white"/>
    <path d="M57.4324 22.8384H34.9375L40.7256 0.343506H63.2206L57.4324 22.8384Z" fill="white"/>
    <path d="M102.474 22.8384H79.9795L85.7676 0.343506H108.263L102.474 22.8384Z" fill="white"/>
    <path d="M147.192 22.8384H124.697L130.485 0.343506H152.98L147.192 22.8384Z" fill="white"/>
    <path d="M192.438 22.8384H169.943L175.731 0.343506H198.226L192.438 22.8384Z" fill="white"/>
  </g>
</svg>
