.services-content {
    margin-bottom: 89px;

    &__wrap {
        display: flex;
        gap: 81px;
    }

    &__column {
        flex: 1px;
        padding-bottom: 57px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    &__title {
        margin-bottom: 32px;
    }

    &__text {
        line-height: 1.5;

        p {
            margin-bottom: 10px;
        }
    }
}