section.assets
    .container
        .assets__img
            img(src="assets/i/services/assets/assets-bg.jpg", alt="")
            .assets__body
                h2.assets__title.title Assetti 
                .assets__text Realizziamo assetti ribassati con ammortizzatori sportivi e ghiere ad altezza regolabile per performance al top.  