section.services-flex
    .container
        .services-flex__wrap
            .services-flex__content
                h2.services-flex__title.title Altri servizi 
                ul.services-flex__list
                    li Gonfiaggio penumatici con azoto
                    li Auto sostitutiva
                    li Vendita ed installazione accessori auto e moto
                    li Possibilità di finanziamento
            .services-flex__logos
                .services-flex__text Puoi pagare con tutte le principali carte di credito e debito. 
                .services-flex__items
                    .services-flex__item
                        img(src="assets/i/services/services-flex/flex-icon-1.svg", alt="")
                    .services-flex__item
                        img(src="assets/i/services/services-flex/flex-icon-2.svg", alt="")
                    .services-flex__item
                        img(src="assets/i/services/services-flex/flex-icon-3.jpg", alt="")
                    .services-flex__item
                        img(src="assets/i/services/services-flex/flex-icon-4.jpg", alt="")
                    .services-flex__item
                        img(src="assets/i/services/services-flex/flex-icon-5.jpg", alt="")
                    .services-flex__item
                        img(src="assets/i/services/services-flex/flex-icon-6.jpg", alt="")