section.services-content
    .container
        .services-content__wrap
            .services-content__column
                h2.services-content__title.title Equilibratura 
                .services-content__text
                    p Tutti i cerchi vengono lavati con macchinari appositi per la rimozione dell'impurità e dello sporco: questo garantisce non solo un ottimo risultato estetico, ma anche un'equilibratura perfetta. 
                    p Rimuoviamo sempre i vecchi piombi e pesi, i residui di colla e le tracce delle precedenti equilibrature: questo ci permette di effettuare un'equilibratura elettronica di altissima precisione che garantisce la riduzione delle vibrazioni.
            .services-content__column
                h2.services-content__title.title Convergenza
                .services-content__text
                    p Utilizziamo attrezzature all'avanguardia eseguendo sempre la verifica completa di tutti gli angoli e l'equilibratura sia dell'asse anteriore che posteriore.
                    p Il risultato è una convergenza perfettamente calibrata sulle caratteristiche della tua auto, in grado di aumentare il comfort di guida e ridurre il consumo degli pneumatici.