.form {

    &__wrap {
        display: flex;
        gap: 20px;
    }

    &__wrap .form__group {
        flex: 1;
    }

    &__group {
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        height: 70px;
        width: 100%;
        font-family: var(--font-1);
        font-size: 16px;
        font-weight: 400;
        color: #878787;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        outline: none;
    }

    textarea {
        resize: none;

        &::placeholder {
            padding-top: 20px;
        }
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    textarea::placeholder {
        color: #878787;
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 53px;
    }

    &__submit {
        padding: 20px 50px;
        font-size: 16px;
        font-weight: 900;
        line-height: normal;
        color: #000;
        text-align: center;
        letter-spacing: 0.8px;
        text-transform: uppercase;
    }
    &__checkbox {
        display: none;
    }
    &__checkbox:checked + label::after {
        opacity: 1;
    }

    &__privacy label {
        padding-left: 40px;
        position: relative;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        letter-spacing: 0.14px;
        cursor: pointer;
    }
    &__privacy label::before {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid black;
    }
    &__privacy label::after {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 11px;
        height: 8px;
        background: url('../i/svg/icon-form.svg') no-repeat;
        opacity: 0;
        transition: all .4s;
    }
}