.form {

    &__wrap {
        display: flex;
        gap: 14px;
        margin-bottom: 13px;
    }

    &__wrap .form__group {
        flex: 1;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        height: 69px;
        width: 100%;
        font-family: var(--font-1);
        font-size: 16px;
        font-weight: 400;
        color: #878787;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        outline: none;
    }

    textarea {
        margin-bottom: 48px;
        resize: none;

        &::placeholder {
            padding-top: 24px;
        }
    }

    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    textarea::placeholder {
        color: #878787;
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 53px;
    }

    &__submit {
        padding: 32px 84px;
        font-size: 16px;
        font-weight: 900;
        line-height: normal;
        color: #000;
        text-align: center;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        &:hover {
            background: #222;
        }
    }
    &__checkbox {
        display: none;
    }
    &__checkbox:checked + label::after {
        opacity: 1;
    }

    &__privacy label {
        padding-left: 37px;
        position: relative;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        cursor: pointer;
    }
    &__privacy label::before {
        content: '';
        position: absolute;
        top: 0px;
        left: -2px;
        width: 18px;
        height: 18px;
        border: 1px solid black;
    }
    &__privacy label::after {
        content: '';
        position: absolute;
        top: 7px;
        left: 3px;
        width: 11px;
        height: 8px;
        background: url('../i/svg/icon-form.svg') no-repeat;
        opacity: 0;
        transition: all .4s;
    }
}