.main-footer {
    margin-bottom: 75px;

    &__wrap {
        display: flex;
        // justify-content: space-between;
        gap: 65px;
    }

    &__title {
        margin-bottom: 42px;
    }

    &__form {
        flex: 1;
    }

    &__contacts {
        flex: 1;

        ul {
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
            color: #000;

            &:last-of-type {
                margin-bottom: 65px;
            }
        }
    }

}