.main-header {
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2.5rem 0 2rem;
	}

	&__menu {
		display: flex;
		gap: 3.1rem;
		font-family: var(--font-2);
		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: 0.08rem;
		text-transform: uppercase;
		@media screen and (max-width: 1300px) {
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			height: 100%;
			background: var(--accent);
			overflow: auto;
			z-index: 10;
			opacity: 0;
			pointer-events: none;
		}
		&.fixed {
			opacity: 1;
			pointer-events: initial;
		}
	}
}
