.main-footer {
    margin-bottom: 75px;

    &__wrap {
        display: flex;
        gap: 56px;
    }

    &__title {
        margin-bottom: 18px;
    }

    &__form {
        flex: 1;
    }

    &__contacts {
        flex: 1;

        ul {
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
            color: #000;

            &:last-of-type {
                margin-bottom: 65px;
            }
        }
    }
    &__contacts .main-footer__title {
        margin-bottom: 40px;
    }

}